@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgba(0, 0, 0, 0.75);
  font-family: Arial, sans-serif;
}

html {
  -webkit-tap-highlight-color: rgb(233 213 255 / 0.5);
}

div:not([fb-xfbml-state="rendered"]).fb-comments {
  display: none;
}

span.fb_comments_count {
  margin-right: 6px;
}

div[fb-xfbml-state="rendered"] + .fb-comments-spinner {
  display: none;
}

div[class^="fb_comments_count_zero"], div[class*=" fb_comments_count_zero"] {
  display: none;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .textbox-border {
    @apply rounded-md border-2 placeholder-neutral-400 outline-none transition focus-within:border-2 focus-within:border-blue-300;
  }

  .lovely-gradient {
    @apply bg-gradient-to-r from-purple-500 via-blue-400 to-emerald-400;
  }

  .h-link {
    @apply text-blue-500 hover:text-blue-600 hover:underline;
  }

  .h-gray-link {
    @apply text-gray-500 hover:text-gray-600 hover:underline;
  }

  .h-issue-highlight {
    @apply border-b border-purple-500 px-1;
  }

  .h-container {
    width: min(theme('screens.lg'), 100%);
    @apply mx-auto;
  }
}
