node_modules
out
.next
.vercel
.env*.local
robots.txt

# main-site
main-site/public/sitemap*

# Symlinks
main-site/shared
cms/shared

# Sentry
.sentryclirc

## CMS ignores
**/public
**/local-backups

