node_modules
out
.next
.vercel
.env*.local
robots.txt
# tsconfig.tsbuildinfo

# main-site
main-site/public/sitemap*
main-site/shared
main-site/**/lighthouse-reports/**.html

## CMS ignores
cms/public
cms/local-backups
cms/shared

# Sentry
.sentryclirc


