@import '../common/common';

.appBar {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
  height: 80px;

  .appBarContainer {
    display: flex;
    align-items: center;

    .logo {
      flex: 1;

      a {
        text-decoration: none;
      }

      .logoSubtitle {
        color: $lessEmphasis;
      }
    }

    .search {
      flex: 0;
      position: relative;
      z-index: 100;
    }
  }
}

.footerContainer {
  margin-top: $s8;

  .footer {
    display: flex;
    padding: $s4;
    margin-top: $s4;

    .footerImage {
      filter: grayscale(100%);
    }

    .footerItems {
      margin-left: $s8;

      div + div {
        margin-top: $s8;
      }

      :global(.MuiTypography-h4) {
        color: $lessEmphasis;

        img {
          filter: invert(33%) sepia(46%) saturate(0%) hue-rotate(294deg)
            brightness(99%) contrast(87%);
        }
      }
    }
  }
}
