@import '../common/common';

.fancyBackgroundContainer {
  text-align: center;
  padding: 0;
  position: relative;
  background: linear-gradient(-90deg, #4535f74f, #fbc9546f, #4cfde838);
  background-size: 100% 100%;
  background-repeat: repeat-x;
  z-index: 0;
}

.fancyBackgroundContainer::after {
  content: '';
  width: 100%;
  height: 80%;
  display: block;
  background: linear-gradient(0deg, #fff 10%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.notablePersonHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $s4;
  position: relative;
  z-index: 1;

  .notablePersonImageContainer {
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgb(255 255 255 / 70%), 0 2px 1px 0 rgb(0 0 0 / 10%);
  }
}

.pageTitleLessEmphasized {
  color: $lessEmphasis;
  text-transform: uppercase;
  font-size: 50%;
}

.pageTitle {
  text-align: center;
  font-weight: 500;

  .notablePersonName {
    font-size: 26px;
  }
}

.tagsContainer {
  display: flex;
  justify-content: center;
  margin-top: calc($s8 - $spacing);
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 0;
}

.quotesContainer {
  margin-top: $s4;

  .quoteEditButtonContainer {
    text-align: center;
  }
}

.quoteBlock {
  margin-top: $s4;
}

.quoteContext {
  color: $lessEmphasis;
  margin-top: $s4;
}

.quoteTextContainer {
  padding: $s4;
  display: flex;

  .quoteAvatar {
    position: relative;
    overflow: hidden;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }

  .quoteText {
    margin: 0 0 0 $s4;

    blockquote {
      margin-top: $s2;
    }

    .quoteTextFooter,
    .quoteTextFooter a {
      text-decoration: none;
      color: $lessEmphasis;
      margin-top: $s4;
    }
  }
}

.editorialContainer {
  margin-top: $s8;

  .editorialContent {
    font-size: 110%;

    blockquote {
      margin-left: $s2;
      padding: 1px 0 1px $s4;
      border-left: 10px solid $lessEmphasis300;
    }
  }

  .editorialListItem {
    & + .editorialListItem {
      margin-top: $s4;
    }

    .editorialSource {
      color: #1769aa;
    }
  }

  .sourcesTitleContainer {
    display: flex;
    align-items: center;
  }

  .interestingProfilesContainer {
    margin-top: $s8;

    .interestingProfiles {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .interestingProfile {
        margin-top: $s8;
        text-align: center;
        color: $textColor;
        text-decoration: none;

        .interestingProfileImage {
          width: 120px;
          border-radius: 50%;
        }

        .interestingProfileName {
          margin-top: $s2;
        }
      }
    }
  }
}

.discussionContainer {
  margin-top: $s8;

  .discourseElement {
    margin-top: $s4;
  }
}
