@import '../common/common';

.editorialContainer {
  margin-top: $s8;

  .interestingProfilesContainer {
    margin-top: $s4;

    .interestingProfiles {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .interestingProfile {
        margin-top: $s4;
        text-align: center;
        color: $textColor;
        text-decoration: none;

        .interestingProfileImageContainer {
          width: 160px;
          height: 200px;
          overflow: hidden;
          position: relative;
          display: block;
          border: 1px solid lightgray;
          padding: 5px;

          img {
            border: 1px solid lightgray !important;
          }
        }

        .interestingProfileName {
          margin-top: $s2;
        }
      }
    }
  }
}
