@import '~src/components/common';

.AppBar {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
  height: 80px;

  .container {
    display: flex;
    align-items: center;

    .logo {
      flex: 1;

      a {
        text-decoration: none;
      }

      .subtitle {
        color: $lessEmphasis;
      }
    }

    .search {
      flex: 0;
      position: relative;
      z-index: 100;
    }
  }
}
