@import '../common.scss';

.attribute {
  margin: $s2;
  padding: 2px;
  padding-left: $s2;
  display: flex;
  align-items: center;
  border: 1px rgba(0, 0, 0, 0.12) solid;
  border-radius: 20px;
  padding: $s1 $s4;
  background-color: rgba(255, 255, 255, 0.3);

  .img {
    width: 20px;
    margin-left: $s1;
    margin-top: $s1;

    filter: invert(33%) sepia(46%) saturate(0%) hue-rotate(294deg)
      brightness(99%) contrast(87%);
  }
}
