@import '~pages/common/common';

.Article {
  font-size: 110%;
  padding: $s4;

  :global(.source-citation) {
    vertical-align: super;
    font-size: 75%;
    color: #1769aa;
  }

  .separator {
    margin-left: -$s4;
    margin-right: -$s4;
  }

  blockquote {
    margin-left: $s2;
    padding: 1px 0 1px $s4;
    border-left: 10px solid $lessEmphasis300;
  }
}
